* {
  box-sizing: border-box;
  margin: 0px;
}

a {
  width: fit-content;
}

body {
  background: #000;
  background-size: cover;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='DeepSkyBlue' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"),
    pointer;
}

html,
body {
  padding: 0;
  margin: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

div {
  width: 100%;
  height: 100vh;
  /* max-height: 880px; */
  overflow: hidden;
  position: absolute;
}

/* Snap Scroll */
.snap-main {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
}

.page {
  width: 100%;
  height: 100vh;
}

/* 1st Page */

.head-1 {
  position: absolute;
  text-align: center;
  color: #fff;
  margin: 50px 80px 30px 0px;
  text-shadow: 2px 2px 10px rgb(0, 136, 255);
  font-family: revampedregular;
  font-weight: 100;
  left: calc(100% / 2 - 100px);
  font-size: 2.2rem;
}
.head-para {
  position: absolute;
  color: #fff;
  top: calc(100% / 2 - 160px);
  left: calc(100% / 2 - 400px);
  text-shadow: 2px 2px 10px rgb(0, 136, 255);
  font-family: Monda;
  font-weight: 500;
  width: 35vw;
  text-align: center;
  font-size: 1.4rem;
}

.card-container {
  position: absolute;
  width: 65vmin;
  height: 80vmin;
  /* left: calc(100% / 2 - 250px); */
  right: 20px;
  margin-top: 100px;
  z-index: 1;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(17, 17, 17, 0.35);
  transition: transform 0.35s ease-out;
  transform: translate(var(--x), var(--y)) scale(0.35) rotate(var(--angle));
  will-change: transform;
}
.card:hover {
  transform: scale(1) rotate(0deg);
  z-index: 1;
  cursor: pointer;
}
.card:hover:before {
  opacity: 1;
}

.card:before {
  content: "";
  display: block;
  width: 90%;
  height: 80%;
  margin: 5%;
  background: var(--image) center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 5px rgba(34, 34, 34, 0.35);
  border-radius: 2px;
  filter: sepia(0.2) brightness(0.9) contrast(1.2);
  transition: opacity 0.35s ease-out;
  opacity: 1;
  will-change: opacity;
}

.card:after {
  display: block;
  content: var(--caption);
  font-weight: 100;
  color: #000;
  font-family: revampedregular;
  font-size: 3vmin;
  opacity: 0.75;
  text-align: center;
  /* text-shadow: 2px 2px 10px rgb(0, 136, 255); */
}

/*buttons*/

.all-buttons {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 70px;
  bottom: -20vh;
  width: 250px;
  /* margin-right: 200px; */
}

.cybr-btn {
  --primary: hsl(
    var(--primary-hue),
    85%,
    calc(var(--primary-lightness, 50) * 1%)
  );
  --shadow-primary: hsl(var(--shadow-primary-hue), 90%, 50%);
  --primary-hue: 10;
  --primary-lightness: 50;
  --color: hsl(0, 0%, 100%);
  --font-size: 26px;
  --shadow-primary-hue: 180;
  --label-size: 9px;
  --shadow-secondary-hue: 60;
  --shadow-secondary: hsl(var(--shadow-secondary-hue), 90%, 60%);
  --clip: polygon(
    0 0,
    100% 0,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 70%
  );
  --border: 4px;
  --shimmy-distance: 5;
  --clip-one: polygon(
    0 2%,
    100% 2%,
    100% 95%,
    95% 95%,
    95% 90%,
    85% 90%,
    85% 95%,
    8% 95%,
    0 70%
  );
  --clip-two: polygon(
    0 78%,
    100% 78%,
    100% 100%,
    95% 100%,
    95% 90%,
    85% 90%,
    85% 100%,
    8% 100%,
    0 78%
  );
  --clip-three: polygon(
    0 44%,
    100% 44%,
    100% 54%,
    95% 54%,
    95% 54%,
    85% 54%,
    85% 54%,
    8% 54%,
    0 54%
  );
  --clip-four: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
  --clip-five: polygon(
    0 0,
    100% 0,
    100% 0,
    95% 0,
    95% 0,
    85% 0,
    85% 0,
    8% 0,
    0 0
  );
  --clip-six: polygon(
    0 40%,
    100% 40%,
    100% 85%,
    95% 85%,
    95% 85%,
    85% 85%,
    85% 85%,
    8% 85%,
    0 70%
  );
  --clip-seven: polygon(
    0 63%,
    100% 63%,
    100% 80%,
    95% 80%,
    95% 80%,
    85% 80%,
    85% 80%,
    8% 80%,
    0 70%
  );
  font-family: Monda;
  font-weight: 700;
  color: var(--color);
  cursor: pointer;
  background: transparent;
  text-transform: uppercase;
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  border: 0;
  min-width: 130px;
  height: 55px;
  line-height: 55px;
  transition: background 0.2s;
  margin: 40px;
}

.cybr-btn:hover {
  --primary: hsl(
    var(--primary-hue),
    85%,
    calc(var(--primary-lightness, 50) * 0.8%)
  );
}
.cybr-btn:active {
  --primary: hsl(
    var(--primary-hue),
    85%,
    calc(var(--primary-lightness, 50) * 0.6%)
  );
}

.cybr-btn:after,
.cybr-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: var(--clip);
  z-index: -1;
}

.cybr-btn:before {
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
}

.cybr-btn:after {
  background: var(--primary);
}

.cybr-btn__tag {
  position: absolute;
  padding: 1px 4px;
  letter-spacing: 1px;
  line-height: 1;
  bottom: -5%;
  right: 5%;
  font-weight: normal;
  color: #000;
  font-size: var(--label-size);
  display: none;
}

.cybr-btn__glitch {
  position: absolute;
  top: calc(var(--border) * -1);
  left: calc(var(--border) * -1);
  right: calc(var(--border) * -1);
  bottom: calc(var(--border) * -1);
  background: var(--shadow-primary);
  text-shadow: 2px 2px var(--shadow-primary), -2px -2px var(--shadow-secondary);
  clip-path: var(--clip);
  animation: glitch 2s infinite;
  display: none;
}

.cybr-btn:hover .cybr-btn__glitch {
  display: block;
}

.cybr-btn__glitch:before {
  content: "";
  position: absolute;
  top: calc(var(--border) * 1);
  right: calc(var(--border) * 1);
  bottom: calc(var(--border) * 1);
  left: calc(var(--border) * 1);
  clip-path: var(--clip);
  background: var(--primary);
  z-index: -1;
}

@keyframes glitch {
  0% {
    clip-path: var(--clip-one);
  }
  2%,
  8% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  6% {
    clip-path: var(--clip-two);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  9% {
    clip-path: var(--clip-two);
    transform: translate(0, 0);
  }
  10% {
    clip-path: var(--clip-three);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  13% {
    clip-path: var(--clip-three);
    transform: translate(0, 0);
  }
  14%,
  21% {
    clip-path: var(--clip-four);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  25% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  30% {
    clip-path: var(--clip-five);
    transform: translate(calc(var(--shimmy-distance) * -1%), 0);
  }
  35%,
  45% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * -1%));
  }
  40% {
    clip-path: var(--clip-six);
    transform: translate(calc(var(--shimmy-distance) * 1%));
  }
  50% {
    clip-path: var(--clip-six);
    transform: translate(0, 0);
  }
  55% {
    clip-path: var(--clip-seven);
    transform: translate(calc(var(--shimmy-distance) * 1%), 0);
  }
  60% {
    clip-path: var(--clip-seven);
    transform: translate(0, 0);
  }
  31%,
  61%,
  100% {
    clip-path: var(--clip-four);
  }
}

.cybr-btn:nth-of-type(2) {
  --primary-hue: 260;
}
.cybr-btn:nth-of-type(3) {
  --primary-hue: 330;
}
.cybr-btn:nth-of-type(4) {
  --primary-hue: 400;
}

/* Scroll down */
.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  left: calc(100% / 2 - 0px);
  bottom: 100px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #ffffff66;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }
  40% {
    opacity: 1;
    height: 10px;
  }
  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }
  100% {
    height: 3px;
    opacity: 0;
  }
}
.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}
.chevrondown:nth-child(odd) {
  animation: pulse 500ms ease infinite alternate;
}
.chevrondown:nth-child(even) {
  animation: pulse 500ms ease infinite alternate 250ms;
}
@keyframes pulse {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}

/* Gallery */
.main,
.main2,
.main3,
.main4 {
  position: relative;
}

/* Adhyaaya'21 - Adhyaaya'19 */
.main h1,
.main3 h1 {
  position: absolute;
  text-align: left;
  color: #fff;
  margin: 70px 0px 30px 80px;
  text-shadow: 2px 2px 10px rgb(0, 136, 255);
  font-family: revampedregular;
  font-weight: 100;
}

.main p,
.main3 p {
  position: absolute;
  text-align: left;
  color: #fff;
  margin: 130px 0px 30px 80px;
  text-shadow: 2px 2px 10px rgb(0, 136, 255);
  font-family: Monda;
  font-weight: 500;
  width: 25vw;
  text-align: justify;
}

.main img,
.main3 img {
  position: absolute;
  bottom: 60px;
  width: 100px;
  left: 150px;
}

/* Adhyaaya'20 - Adhyaaya'18 */
.main2 h1,
.main4 h1 {
  position: absolute;
  text-align: right;
  color: #fff;
  margin: 70px 80px 30px 0px;
  text-shadow: 2px 2px 10px rgb(0, 136, 255);
  font-family: revampedregular;
  font-weight: 100;
  right: 0%;
}

.main2 p,
.main4 p {
  position: absolute;
  text-align: right;
  color: #fff;
  margin: 130px 80px 30px 0px;
  text-shadow: 2px 2px 10px rgb(0, 136, 255);
  font-family: Monda;
  font-weight: 500;
  width: 25vw;
  text-align: justify;
  right: 0%;
}

.main2 img,
.main4 img {
  position: absolute;
  bottom: 60px;
  width: 100px;
  right: 150px;
}

@media screen and (max-width: 700px) {
  h1 {
    position: relative;
  }
}
