* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background: #000;
  background-size: cover;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='DeepSkyBlue' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"),
    pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

div {
  width: 100%;
  height: 100vh;
  /* max-height: 880px; */
  overflow: hidden;
  position: absolute;
}

.main,
.main2,
.main3,
.main4 {
  position: relative;
}

.test11 {
  width: 100%;
  height: 100vh;
  position: relative;
  color: #fff;
}

/* Adhyaaya'21 - Adhyaaya'19 */
.main h1,
.main3 h1 {
  position: absolute;
  text-align: left;
  color: #fff;
  margin: 70px 0px 30px 80px;
  text-shadow: 2px 2px 10px rgb(0, 136, 255);
  font-family: revampedregular;
  font-weight: 100;
}

.main p,
.main3 p {
  position: absolute;
  text-align: left;
  color: #fff;
  margin: 130px 0px 30px 80px;
  text-shadow: 2px 2px 10px rgb(0, 136, 255);
  font-family: Monda;
  font-weight: 500;
  width: 25vw;
  text-align: justify;
}

.main img,
.main3 img {
  position: absolute;
  bottom: 60px;
  width: 100px;
  left: 150px;
}

/* Adhyaaya'20 - Adhyaaya'18 */
.main2 h1,
.main4 h1 {
  position: absolute;
  text-align: right;
  color: #fff;
  margin: 70px 80px 30px 0px;
  text-shadow: 2px 2px 10px rgb(0, 136, 255);
  font-family: revampedregular;
  font-weight: 100;
  right: 0%;
}

.main2 p,
.main4 p {
  position: absolute;
  text-align: right;
  color: #fff;
  margin: 130px 80px 30px 0px;
  text-shadow: 2px 2px 10px rgb(0, 136, 255);
  font-family: Monda;
  font-weight: 500;
  width: 25vw;
  text-align: justify;
  right: 0%;
}

.main2 img,
.main4 img {
  position: absolute;
  bottom: 60px;
  width: 100px;
  right: 150px;
}

@media screen and (max-width: 700px) {
  h1 {
    position: relative;
  }
}
